/* font */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
/* Header */
#contentHeader {
  max-width: 1700px;
  display: flex;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#containercol {
  margin: auto;
  display: flex;
  max-width: 1700px;

  color: white;
}
/* col(cart) */
#contentol {
  background-color: #121212;
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  height: 1365px;
  width: 90px;
}
#cartButton {
  background-color: transparent;
  border-radius: 16px;
  margin-top: 50px;
  padding: 15px 15px;
  border: 2px solid white;
  transition: transform 0.3s ease;
}
#cartButton:hover {
  transform: scale(1.1);
}

#product-cart-fee {
  text-align: left;
  background: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  border: none;
}
#XoaGioHang {
  margin-top: 20px;
  border: none;
  margin-right: 20px;
  background: #f0003c;
  border-radius: 7px;
  color: #ffffff;
  padding: 10px 14px;
  transition: 0.3s;
}
#XoaGioHang:hover{
  color: #e9c8d0;
}
#thanhToan {
  margin-top: 20px;
  border: none;
  margin-bottom: 20px;

  background: #008cff;
  border-radius: 7px;
  color: #ffffff;
  padding: 10px 14px;
  transition: 0.3s;
}
#thanhToan:hover{
  color: #a7cbe9;
}

/* banner */
#containerHeaderBanner {
  margin-left: 10px;
  /* border: 1px solid red; */
  justify-content: space-between;
  width: 1605px;
  margin-top: 30px;


}
/* search */
#product-filter {
  background-color: #ffffff;
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  outline: none;
  transition: 0.3s;
}
#product-filter:hover {
  color: black;
  background-color: #e7e7e7;
}

#closeCartButton{
  transition: 0.3s;
}
#closeCartButton:hover{
  color: #dfa5b3;
}

/* img */
#mainImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
#img1 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  width: 750px;
  border-radius: 35px;
}

#img2 {
  display: flex;
  width: 750px;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.img img {
  width: 600px;
  transition: transform 0.3s ease;
}

.img img:hover {
  transform: scale(1.1);
}
/* Phone */

#tblDanhSachSP {
  max-width: 1700px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 35px;
  margin: auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
/* delete button */
